body{
  background-color: #333 ;
}
.box{
  position: relative;
  background-color: black;
  width:  300px;
  height: 200px;
  margin: 100px auto auto;
}

.box .top{
  position: absolute;
  top: 0;
  left: 0;
  width:  50%;
  height: 3px;
  background-color: #00FFFF;
  animation: top 3s linear infinite;
}
.box .right{
  position: absolute;
  top: 0;
  right: 0;
  width:  3px;
  height: 50%;
  background-color: #00FFFF;
  animation: right 3s linear infinite;
}
.box .bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  width:  50%;
  height: 3px;
  background-color: #00FFFF;
  animation: bottom 3s linear infinite;
}
.box .left{
  position: absolute;
  bottom: 0;
  left: 0;
  width:  3px;
  height: 50%;
  background-color: #00FFFF;
  animation: left 3s linear infinite;
}

@keyframes top{
  0%{
    left: 0;
    width: 0;
  }
  50%{
    left: 0;
    width: 100%;
  }
  100%{
    left: 100%;
    width: 0;
  }
}
@keyframes bottom{
  0%{
    right: 0;
    width: 0;
  }
  50%{
    right: 0;
    width: 100%;
  }
  100%{
    right: 100%;
    width: 0;
  }
}

@keyframes right{
  0%{
    top:0;
    right: 0;
    height: 0;
  }
  50%{
    top:0;
    right: 0;
    height: 100%;
  }
  100%{
    top: 100%;
    right: 0;
    height: 0;
  }
}

@keyframes left{
  0%{
    bottom:0;
    left: 0;
    height: 0;
  }
  50%{
    bottom:0;
    left: 0;
    height: 100%;
  }
  100%{
    bottom: 100%;
    left: 0;
    height: 0;
  }
}